<div class="container">
    <div class="card-header card text-center" >
        <h1>Desafío</h1>
    </div>
    <ul class="list-group" style="text-align: left">
            <li class="list-group-item">
                <blockquote class="blockquote">
                    <h4 class="mb-0">Crear una aplicación web donde se puedan seleccionar distintas ciudades y poder saber el pronóstico del tiempo para cada una de ellas.</h4>
                </blockquote>
            </li>
            <li class="list-group-item">Poder agregar ciudades a través de un CRUD con los distintos campos necesarios para poder mostrar su información del tiempo</li>
            <li class="list-group-item">Crear una vista única donde se pueda ver el pronóstico a 5 días para cierta ciudad seleccionada mediante un selector.</li>
            <li class="list-group-item">El pronóstico debe mostrar en un gráfico de barras la temperatura máxima para todos los días y se debe pintar cada barra con un color específico para indicar el nivel de nubosidad de ese día (especificar colores en leyenda del gráfico)</li>
            <li class="list-group-item">En la misma vista debe mostrarse mediante una imagen la dirección del viento y la velocidad, que se actualizará cada 1 minuto.</li>
            <li class="list-group-item">Al seleccionar una ciudad, los gráficos deben actualizarse en la misma vista</li>
            <br>
            <li class="list-group-item">
                <blockquote class="blockquote">
                    <h4 class="mb-0">CONSIDERACIONES</h4>
                </blockquote>
            </li>
            <li class="list-group-item">Plataforma debe ser desarrollada utilizando Ruby on Rails</li>
            <li class="list-group-item">Para obtener la información del pronóstico del tiempo, se recomienda utilizar la API de Accuweather, Inc © (https://developer.accuweather.com/)</li>
            <li class="list-group-item">Aplicación debe ser subida a la plataforma Heroku (https://www.heroku.com/)</li>
            <li class="list-group-item">Estilos de la plataforma queda a criterio del desarrollador</li>
            <li class="list-group-item">Se debe enviar un archivo comprimido con los archivos del proyecto a andres.abbott@ssindex.org</li>
            <br>
            <li class="list-group-item">
                <blockquote class="blockquote">
                    <h4 class="mb-0">CRITERIOS DE EVALUACIÓN</h4>
                </blockquote>
            </li>
            <li class="list-group-item">Orden y eficiencia del código (variables, funciones, etc.)</li>
            <li class="list-group-item">Diseño y estilo de la aplicación</li>
            <li class="list-group-item">Simpleza de la implementación</li>
            <li class="list-group-item">Explicación del por qué de la selección de tecnología/s para consumir APIs</li>
            <li class="list-group-item">Explicación del por qué de la selección de herramienta/s para dibujar gráficos</li>
            <li class="list-group-item">Se considerará como un plus cualquier elemento extra que sea agregado</li>
    </ul>
</div>
